.env
.streamlit/secrets.toml

__pycache__/
*.py[cod]

maintenance_index.faiss
chunks_mapping.pkl
processed_files.pkl
chat_history.json

streamlit.err.log
streamlit.out.log
output.txt
runner.txt

data_input/*
!data_input/.gitkeep

.DS_Store
Thumbs.db
